* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    margin-right: 2rem;
    border: none;
    background: black;
    opacity: 0.3;
    color: #fff;
    padding: 1rem;
    text-align: center;
    border-radius: 20px;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    opacity: 0.5;
    font-size: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

html, body {
    height: 100vh;
    font-family: 'Inter', sans-serif;
    color: #fff;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.container-profile {
    position: absolute;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-content: center;
}

.heading {
    position: relative;
    display: flex;
    padding-top: 3rem;
    gap: 5rem;
    width: 100%;
}

.heading:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    border-bottom: 1px solid #fff;
    transform: scaleX(0);
    transform-origin: center;
}

@keyframes extendLine {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

.heading h1 {
    font-size: 4rem;
    width: 50vw;
    /* line-height: 97%; */
    text-align: right;
}

.heading.animate-line:before {
    animation: extendLine 1.5s ease-out forwards;
}

@keyframes dropDown {
    from {
        opacity: 0;
        transform: translateY(-3rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h1 {
    opacity: 0;
}

p {
    font-size: 1.25rem;
    width: 40vw;
    opacity: 0;
}

.animate-drop-down {
    animation: dropDown 2s ease forwards;
}

h1.animate-drop-down {
    animation-delay: 1.75s;
}

p.animate-drop-down {
    animation-delay: 2.75s;
}


h3 {
    position: absolute;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: left;
    font-size: 1rem;
    margin-top: 2rem;
    margin-left: 1rem;
}

.hidden {
    display: none;
}